
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/
env/
ENV/

# Flask instance/config
instance/
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.*
!.env.example

# Python build artifacts
build/
dist/qt_data/
*.egg-info/
/.eggs/
*.spec

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/


# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Windows generated
Desktop.ini

data/
server.pid
server_log.txt
qt_data/